body
{
background-color:rgb(258,128,128);
padding:30px;
margin:50px;
border:4px solid  black;
border-radius:10px;
background-image:url(C:/Users/SHALINI/OneDrive/Pictures/unnamed.jpg);
background-repeat: repeat;
width: 1000px;
height: 200px;
}
h1{
color:blue;
text-align:center;
font-family:sherif; 
border-bottom:2px groove black;
border-top:2px solid  black;
padding:30px;
border-color:aqua blue;

line-height:1em;
border-radius:10px;
}
h1:hover{
color:	pink;
}
p{
	color:blue;
	
	font-size:30px;
	font-family:times;
	border:2px solid  black;
	padding:0px;
	border-color:blue;
	margin:30px;
	text-align:left;
	border-radius:10px;
	height:120px;
	overflow:scroll;
}
.a1{
	font-style:verdana;
	font-size:25px;

	border-style:ridge;
	border-width:5px;
	border-top-color:blue;
	border-radius:10px;
}
#abc{
	text-decoration:overline;
	border-radius:10px;
}
#A
{
	font-size:20px;
	color:blue;

}
#A:visited{
	color:red;
}
